/*! @ilurk/bass v0.0.1 | MIT License | github.com/hylurk/bass */

html, body, div, section, header, footer, ul, ol, li, p, h1, h2, h3, h4, h5, h6, input, textarea, select, video, audio, cite, code, canvas, blockquote pre, small, sup, sub, time, var, menu, nav, strong, article, address, aside, del, fieldset, figure, em, embed {
  margin: 0;
  padding: 0;
  line-height: 0;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

input, textarea, select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}

img, a, button {
  outline: none;
}

button {
  border: none;
}

a {
  text-decoration: none;
}
